.menu {
  display: none;
}
.bigMenu {
  display: flex;
}
.menu,
.bigMenu {
  justify-content: space-between;
  background-color: #f3764a;
}
.bigMenu h5 {
  margin: 28px 35px;
  cursor: pointer;
  font-family: "Bebas Neue", cursive;
}
.bigMenu a {
  color: black;
  text-decoration: none;
}
.bigMenu h5:hover {
  opacity: 0.7;
}
.bigMenu img,
.menu img {
  height: 80px;
}

a {
  color: black;
  text-decoration: none !important;
  padding: 10px 0px;
}
a:hover {
  color: black !important;
  opacity: 0.7;
}

@media screen and (max-width: 960px) {
  .menu {
    display: flex;
  }
  .bigMenu {
    display: none !important;
  }
}
