.signup {
  padding: 15px;
}
.signup select:first-child {
  margin-right: 5px;
}
.signup .btn {
  background-color: #f3764a;
  color: white;
}
.signup .btn:active {
  opacity: 0.7;
  box-shadow: #f3764a !important;
  transition: none !important;
}
