.cust-contain {
  margin: 8vh auto;
  max-height: 700px;
  overflow-y: scroll;
  height: 110vh;
  max-width: 800px;
}
::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 960px) {
  .cust-contain {
    margin: 2vh auto;
  }
}
